{% extends '_templates/base.njk' %}

{% block page_title %}QUEEN Albums{% endblock %}

{% block content %}
<article class="container">
  <h1>QUEEN Albums</h1>
  <div class="row">
    {% for albums in queen.discography %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4 bg-light">
         <img class="card-img-top" src="img/discs/{{albums.image}}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ albums.title }}</h5>
          <h6 class="card-title">{{ albums.year }}</h6>
          <a href="{{ queen.source }} "target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}