// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials

@import "nav";

@import "jumbotron";

$primary-color:rgb(143, 131, 122);

.navbar {
  margin-bottom: auto;
}

.bg-dark {
  background-color: $primary-color;
}

.navbar-dark .navbar-brand {
  color: pink;
}

.nav {
  color: aqua;
}

h1, h2 {
  font-family: 'Castoro', serif;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div.img-fluid {
  text-align: center;
}

div.container {
  width: 80%;
}

body {
  background-color: $primary-color;
}